{%load static %}
<style>
  .dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown-menu{
  background-color: #5cb85c;
}
.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" href="#">
    <img src="{% static 'images/taifa70.png' %}" class="d-inline-block align-top" alt="">
    Taifa Hub
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse"></div> 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" href="#">Start Here! <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Discussions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Podcast</a>
        </li>
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            .......
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Community</a>
            <a class="dropdown-item" href="#">Products</a>
            <a class="dropdown-item" href="#">PartnerUp</a>
            <a class="dropdown-item" href="#">Events</a>
          </div>
        </li>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Discover in taifahub " aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>
        <li class="nav-item">
          <a class="nav-link" href="#">LOGIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SIGN UP</a>
        </li>
      </ul>
    </div>
  </nav>